@import './home-sideBar.css';
@import './home-updateBtn.css';
@import './home-chapel.css';
@import './home-timetable.css';
@import './home-lectures.css';

* {
  font-family: 'Nanum Gothic Coding', monospace;
  font-family: 'Varela Round', sans-serif;
  box-sizing: border-box;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.body-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

/* Content View Box */
.content-wrapper {
  width: calc(100% - 270px);
  margin-left: 270px;
  padding: 70px 100px;
  background-color: var(--content-background);
}
.content-wrapper .content-box-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.content-wrapper .content-box-wrapper .content-box {
  min-height: 400px;
  padding: 30px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  background-color: #fff;
}
.content-wrapper .content-box-wrapper .content-box .header {
  font-weight: 700;
}
.content-wrapper .content-box-wrapper .content-box .header p {
  height: 18px;
  line-height: 20px;
}
.content-wrapper .content-box-wrapper .content-box hr {
  width: 100%;
  margin: 20px 0;
  border: 0px;
  background-color: #eee;
  height: 1px;
}
